<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-2.10.1.min.css">
  <link href="../public/assets/style.css" rel="stylesheet"">
  </style>
</head>
<body>
  <div class="row u-equal-height u-clearfix u-margin">
    <% posts.forEach(function(post) { %>
      <div class="col-4 p-card--highlighted p-card--post">
        <div>
          <h5 class="p-muted-heading"><%= post.category %></h5>
        </div>
        <hr class="is-muted">
        <div class="p-card__content">
          <div class="p-card__image u-crop--16-9">
            <div class="lazyload">
              <a href="#"><img src="<%= post.featured_media %>" alt="Blog Post Image"></a>
            </div>
          </div>
          <h4 class="p-heading--4">
            <a href="#"><%= post.title %></a></h4>
          <p>By <a href="#"><%= post.author_name %></a>  on <%= post.date %></p>
        </div>
        <div class="p-card__footer">
          <hr class="is-muted">
          <div class="p-card__inner">
            <%= post.type %>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
  <script src="https://assets.ubuntu.com/v1/vanilla-framework-version-2.10.1.min.js"></script>
</body>
</html>
